# 13 Reasons Py
* more details here
* more details here

In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

## Define initial variables

In [2]:
# File path for Substance Abuse & Mental Health Service Facilities (SAMHS)
SAMHS_File = "Resources/MentalHealth_SubstanceAbuse_Facilities.csv"

# File path for FED Crime Data (change the file name as required)
CrimeData_File = "Resources/CrimeData.csv"

# List of States to compare ?
State_list = ["NY","NC","OR","TX","MN"]

## SAMHS Facility Data

In [3]:
# Read SAMHS data to Dataframe
SAMHS_df = pd.read_csv(SAMHS_File)

# Group the data based on State
SAMHS_byState = SAMHS_df.groupby(["state"])

# Get count of Facility for each state, and create a Data frame
SAMHS_StateCount_df = pd.DataFrame({"Facility Count" : SAMHS_byState["name1"].count()})

# Reset the index, to have the state as a column/field
SAMHS_StateCount_df.reset_index(inplace=True)

# Preview dataframe
SAMHS_StateCount_df

   state  Facility Count
0     AK             170
1     AL             260
2     AR             311
3     AS               2
4     AZ             708
5     CA            1862
6     CO             533
7     CT             414
8     DC              52
9     DE              61
10    FL             987
11    FM               1
12    GA             482
13    GU               5
14    HI             183
15    IA             273
16    ID             234
17    IL             964
18    IN             570
19    KS             273
20    KY             582
21    LA             275
22    MA             626
23    MD             603
24    ME             297
25    MI             744
26    MN             570
27    MO             433
28    MP               1
29    MS             210
30    MT             134
31    NC             713
32    ND             103
33    NE             249
34    NH             119
35    NJ             595
36    NM             186
37    NV             122
38    NY            1512
39    OH             942
40    OK             295
41    OR             332
42    PA            1032
43    PR             169
44    PW               1
45    RI              97
46    SC             194
47    SD              96
48    TN             486
49    TX             755
50    UT             423
51    VA             438
52    VI               5
53    VT              94
54    WA             743
55    WI             616
56    WV             203
57    WY              97

In [7]:
# if needed - Filter by State
SAMHS_df = SAMHS_StateCount_df[SAMHS_StateCount_df.state.isin(State_list)]

# Preview Dataframe
SAMHS_df

   state  Facility Count
26    MN             570
31    NC             713
38    NY            1512
41    OR             332
49    TX             755

## Crime Data

In [4]:
# Read Crime data to Dataframe
CrimeData_df = pd.read_csv(CrimeData_File)
CrimeData_df

   state  year  population  total offense
0     AK  2017      739786        65221.0
1     AL  2017     4875120       339189.0
2     AR  2017     3002997       223368.0
3     AZ  2017     7048876       482481.0
4     CA  2017    39399349      2339968.0
5     CO  2017     5615902       346919.0
6     CT  2017     3573880       144013.0
7     DC  2017      695691        73648.0
8     DE  2017      957078        55752.0
9     FL  2017    20976812      1226817.0
10    GA  2017    10413055       670461.0
11    HI  2017     1424203        88445.0
12    IA  2017     3143637       149804.0
13    ID  2017     1718904        65520.0
14    IL  2017    12786196       623582.0
15    IN  2017     6660082       371246.0
16    KS  2017     2910689       182654.0
17    KY  2017     4453874       212886.0
18    LA  2017     4670818       367117.0
19    MA  2017     6863246       244974.0
20    MD  2017     6024891       330998.0
21    ME  2017     1335063        43657.0
22    MI  2017     9976447       451404.0
23    MN  2017     5568155       272084.0
24    MO  2017     6108612       412694.0
25    MS  2017     2989663       181065.0
26    MT  2017     1053090        62631.0
27    NC  2017    10270800       608297.0
28    ND  2017      755176        37682.0
29    NE  2017     1917575        99814.0
30    NH  2017     1349767        42512.0
31    NJ  2017     8888543       321954.0
32    NM  2017     2093395       196664.0
33    NV  2017     2972405       190336.0
34    NY  2017    19590719       729373.0
35    OH  2017    11664129       631813.0
36    OK  2017     3932640       263937.0
37    OR  2017     4146592       269286.0
38    PA  2017    12790447       502172.0
39    RI  2017     1056486        42248.0
40    SC  2017     5021219       372234.0
41    SD  2017      873286        40819.0
42    TN  2017     6708794       484896.0
43    TX  2017    28322717      1697564.0
44    UT  2017     3103118       187657.0
45    VA  2017     8465207       341476.0
46    VT  2017      624525        20881.0
47    WA  2017     7425432       516505.0
48    WI  2017     5792051       247679.0
49    WV  2017     1817048        78470.0
50    WY  2017      578934        23820.0

In [8]:
# if needed - Filter by State
Crime_df = CrimeData_df[CrimeData_df.state.isin(State_list)]
Crime_df

   state  year  population  total offense
23    MN  2017     5568155       272084.0
27    NC  2017    10270800       608297.0
34    NY  2017    19590719       729373.0
37    OR  2017     4146592       269286.0
43    TX  2017    28322717      1697564.0

## Combine Facility and Crime Data

In [9]:
# Combine SAMHS Facility Dataframe and Crime Dataframe
Reasons13_df = pd.merge(SAMHS_df, Crime_df, how="inner", on="state")
Reasons13_df

  state  Facility Count  year  population  total offense
0    MN             570  2017     5568155       272084.0
1    NC             713  2017    10270800       608297.0
2    NY            1512  2017    19590719       729373.0
3    OR             332  2017     4146592       269286.0
4    TX             755  2017    28322717      1697564.0

In [ ]:
# Data Mupulation / conversion

## Place for Bar / Line

## Chart 2

## Chart 3