In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

## Define initial variables

In [2]:
# File path for Substance Abuse & Mental Health Service Facilities (SAMHS)
SAMHS_File = "Resources/MentalHealth_SubstanceAbuse_Facilities.csv"

# File path for FED Crime Data (change the file name as required)
CrimeData_File = "Resources/CrimeDatabyState.csv"

# List of States to compare ?
State_list = ["NY","NC","OR","TX","MN"]

## SAMHS Facility Data

In [3]:
# Read SAMHS data to Dataframe
SAMHS_df = pd.read_csv(SAMHS_File)

# Group the data based on State
SAMHS_byState = SAMHS_df.groupby(["state"])

# Get count of Facility for each state, and create a Data frame
SAMHS_StateCount_df = pd.DataFrame({"Facility Count" : SAMHS_byState["name1"].count()})

# Reset the index, to have the state as a column/field
SAMHS_StateCount_df.reset_index(inplace=True)

# Preview dataframe
SAMHS_StateCount_df

   state  Facility Count
0     AK             170
1     AL             260
2     AR             311
3     AS               2
4     AZ             708
5     CA            1862
6     CO             533
7     CT             414
8     DC              52
9     DE              61
10    FL             987
11    FM               1
12    GA             482
13    GU               5
14    HI             183
15    IA             273
16    ID             234
17    IL             964
18    IN             570
19    KS             273
20    KY             582
21    LA             275
22    MA             626
23    MD             603
24    ME             297
25    MI             744
26    MN             570
27    MO             433
28    MP               1
29    MS             210
30    MT             134
31    NC             713
32    ND             103
33    NE             249
34    NH             119
35    NJ             595
36    NM             186
37    NV             122
38    NY            1512
39    OH             942
40    OK             295
41    OR             332
42    PA            1032
43    PR             169
44    PW               1
45    RI              97
46    SC             194
47    SD              96
48    TN             486
49    TX             755
50    UT             423
51    VA             438
52    VI               5
53    VT              94
54    WA             743
55    WI             616
56    WV             203
57    WY              97

In [4]:
# if needed - Filter by State

## Crime Data

In [5]:
# Read Crime data to Dataframe

# Final Crime data, will have the Crime, offence type, and count, (optional year)
# Crime_StateCount_df

In [6]:
# if needed - Filter by State

## Combine Facility and Crime Data

In [7]:
# Combine SAMHS Facility Dataframe and Crime Dataframe
# Reasons13_df = pd.merge(SAMHS_StateCount_df, Crime_StateCount_df, how="inner", on=["state", "state"])