In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import json
import time

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Import API key
from keys import api_key

#State Abbr
stateAbbr_file = "Resources/StateAbbr.csv"

#Year to pull data
year = 2017

In [2]:
#Read purchasing file and store into Pandas DF
state_abbr = pd.read_csv(stateAbbr_file)
state_abbr.head()

  State Abbr
0         AK
1         AL
2         AR
3         AS
4         AZ

In [3]:
# create an empty dataframe, to store data retrived by API call
crimeDataAll_df = pd.DataFrame()

#Loop through each state, to get the crime data
for state in state_abbr["State Abbr"]:
    print(f"Processing State: {state}")
    api_url = f"https://api.usa.gov/crime/fbi/sapi/api/summarized/estimates/states/{state}/{year}/{year}?API_KEY=" + api_key
    
    # make the API call
    crimeData_json = requests.get(api_url).json()  
    
    # skip the state, if the API fails. 
    try:
        stateCrime_df = pd.DataFrame(crimeData_json["results"])
        
        #if Dataframe is empty, copy the assign, else append the df
        if crimeDataAll_df.empty:
            crimeDataAll_df = stateCrime_df
        else:
            crimeDataAll_df = pd.concat([crimeDataAll_df, stateCrime_df], ignore_index=True)
        
    except (KeyError, IndexError):
        print(f'Skippinh "{state}". data for state not exist.')
    
print(f"Completed all states")
# Out of State For loop

# Preview dataframe
crimeDataAll_df

Processing State: AK
Processing State: AL
Processing State: AR
Processing State: AS
Processing State: AZ
Processing State: CA
Processing State: CO
Processing State: CT
Processing State: DC
Processing State: DE
Processing State: FL
Processing State: FM
Skippinh "FM". data for state not exist.
Processing State: GA
Processing State: GU
Skippinh "GU". data for state not exist.
Processing State: HI
Processing State: IA
Processing State: ID
Processing State: IL
Processing State: IN
Processing State: KS
Processing State: KY
Processing State: LA
Processing State: MA
Processing State: MD
Processing State: ME
Processing State: MI
Processing State: MN
Processing State: MO
Processing State: MP
Processing State: MS
Processing State: MT
Processing State: NC
Processing State: ND
Processing State: NE
Processing State: NH
Processing State: NJ
Processing State: NM
Processing State: NV
Processing State: NY
Processing State: OH
Processing State: OK
Processing State: OR
Processing State: PA
Processing State: PR
Processing State: PW
Skippinh "PW". data for state not exist.
Processing State: RI
Processing State: SC
Processing State: SD
Processing State: TN
Processing State: TX
Processing State: UT
Processing State: VA
Processing State: VI
Processing State: VT
Processing State: WA
Processing State: WI
Processing State: WV
Processing State: WY
Completed all states

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,1,AK,2004,657755,4159,37,558.0,NaN,447,3117,22172,3773,16159,2240,NaN
1,1,AK,2005,663253,4194,32,538.0,NaN,537,3087,23975,4131,17249,2595,NaN
2,1,AK,2006,670053,4610,36,512.0,NaN,600,3462,23975,4155,17284,2536,NaN
3,1,AK,2007,683478,4520,43,545.0,NaN,581,3351,23096,3734,16929,2433,NaN
4,1,AK,2008,686293,4475,27,447.0,NaN,645,3356,20090,3237,15225,1628,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035,56,WY,1991,460000,1427,15,119.0,NaN,79,1214,18762,3184,14867,711,NaN
2036,56,WY,1993,470000,1345,16,161.0,NaN,81,1087,18221,3023,14470,728,NaN
2037,56,WY,1994,476000,1297,16,160.0,NaN,79,1042,19122,3097,15254,771,NaN
2038,56,WY,1992,466000,1489,17,163.0,NaN,84,1225,19831,3127,16003,701,NaN
2039,56,WY,2018,577737,1226,13,NaN,243.0,100,870,10313,1525,7949,839,NaN

In [4]:
# Filter data for year
crimeDataOffense_df = crimeDataAll_df[crimeDataAll_df["year"] == year]
crimeDataOffense_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
30,1,AK,2017,739786,6338,62,NaN,1074.0,952,4250,26203,4167,17782,4254,139.0
63,2,AL,2017,4875120,25469,419,NaN,2001.0,4233,18816,143774,31270,99707,12797,703.0
80,3,AR,2017,3002997,16996,249,NaN,2140.0,1998,12609,94419,22369,64795,7255,538.0
139,5,AZ,2017,7048876,35647,422,NaN,3622.0,7440,24163,204999,37722,148251,19026,1189.0
193,6,CA,2017,39399349,178597,1830,NaN,14724.0,56625,105418,987063,176679,642019,168365,8648.0
225,7,CO,2017,5615902,20901,222,NaN,4021.0,3868,12790,152032,22618,107470,21944,1053.0
270,8,CT,2017,3573880,8190,105,NaN,850.0,2813,4422,63646,8906,47418,7322,341.0
304,10,DC,2017,695691,6976,116,NaN,444.0,2625,3791,29736,1809,25340,2587,224.0
345,11,DE,2017,957078,4377,51,NaN,351.0,1082,2893,23430,3960,18108,1362,138.0
387,12,FL,2017,20976812,85606,1057,NaN,7936.0,18597,58016,527125,88835,395375,42915,1355.0
422,13,GA,2017,10413055,37118,681,NaN,2646.0,9844,23947,297651,55363,216252,26036,923.0
475,15,HI,2017,1424203,3577,39,NaN,567.0,1077,1894,40392,5549,29574,5269,507.0
511,16,IA,2017,3143637,9038,98,NaN,1305.0,1269,6366,65652,14711,45441,5500,424.0
557,17,ID,2017,1718904,4111,42,NaN,755.0,222,3092,28557,5837,20570,2150,184.0
597,18,IL,2017,12786196,55777,983,NaN,5424.0,17731,31639,255108,43355,190860,20893,1812.0
637,19,IN,2017,6660082,26307,413,NaN,2612.0,7035,16247,158932,29799,114395,14738,768.0
668,20,KS,2017,2910689,11654,134,NaN,1504.0,1633,8383,79387,13102,58891,7394,572.0
717,21,KY,2017,4453874,10292,265,NaN,1817.0,2967,5243,95899,20535,65006,10358,504.0
755,22,LA,2017,4670818,25986,576,NaN,1850.0,5385,18175,157272,34135,112042,11095,601.0
796,23,MA,2017,6863246,24318,172,NaN,2199.0,4874,17073,97977,16916,73573,7488,384.0
835,24,MD,2017,6024891,30321,558,NaN,1712.0,11189,16862,134705,23526,97657,13522,946.0
878,25,ME,2017,1335063,1610,23,NaN,470.0,249,868,20142,3337,16012,793,153.0
931,26,MI,2017,9976447,44883,569,NaN,7110.0,6508,30696,179839,35833,124410,19596,1960.0
973,27,MN,2017,5568155,13345,114,NaN,2405.0,3627,7199,122430,18828,93602,10000,534.0
1011,28,MO,2017,6108612,32450,599,NaN,2737.0,6362,22752,173380,30086,123356,19938,1034.0
1037,29,MS,2017,2989663,7661,190,NaN,658.0,2492,4321,82764,22449,55968,4347,215.0
1078,30,MT,2017,1053090,3937,41,NaN,639.0,234,3023,27294,3623,21073,2598,169.0
1117,32,NC,2017,10270800,38043,622,NaN,1944.0,9884,25593,265483,65247,184119,16117,1245.0
1158,33,ND,2017,755176,2133,10,NaN,406.0,183,1534,16653,2947,11944,1762,110.0
1198,31,NE,2017,1917575,5979,42,NaN,1191.0,1020,3726,43856,6513,32064,5279,144.0
1237,34,NH,2017,1349767,2642,13,NaN,619.0,441,1569,18550,2554,15087,909,128.0
1276,35,NJ,2017,8888543,20604,324,NaN,1505.0,7895,10880,140086,23891,104025,12170,574.0
1317,36,NM,2017,2093395,16300,144,NaN,1244.0,3732,11180,81865,17872,52284,11709,334.0
1357,37,NV,2017,2972405,16663,266,NaN,1896.0,4841,9660,78320,20049,45459,12812,370.0
1397,38,NY,2017,19590719,70746,550,NaN,6297.0,20122,43777,293390,34928,245093,13369,1101.0
1438,39,OH,2017,11664129,34621,741,NaN,5833.0,11224,16823,280557,57521,202320,20716,1457.0
1478,40,OK,2017,3932640,17989,243,NaN,2220.0,3007,12519,113611,28749,72546,12316,737.0
1518,41,OR,2017,4146592,11629,105,NaN,1992.0,2474,7058,122524,17415,88091,17018,980.0
1558,42,PA,2017,12790447,40030,742,NaN,4216.0,11777,23295,210316,31925,165434,12957,1480.0
1598,44,RI,2017,1056486,2474,21,NaN,454.0,474,1525,18585,3219,13882,1484,130.0
1638,45,SC,2017,5021219,25412,380,NaN,2576.0,3884,18572,160368,31165,114931,14272,674.0
1678,46,SD,2017,873286,3753,27,NaN,575.0,264,2887,16588,2835,12285,1468,137.0
1718,47,TN,2017,6708794,43940,538,NaN,3028.0,7867,32507,198028,38819,140636,18573,960.0
1720,48,TX,2017,28322717,123984,1405,NaN,14536.0,32120,75923,723143,133458,521767,67918,3310.0
1762,49,UT,2017,3103118,7515,74,NaN,1758.0,1498,4185,86201,11780,64955,9466,225.0
1800,51,VA,2017,8465207,17811,470,NaN,3026.0,4331,9984,152515,18524,123812,10179,824.0
1840,52,VT,2017,624525,1082,17,NaN,254.0,100,711,9339,1945,7169,225,39.0
1884,53,WA,2017,7425432,22483,226,NaN,3300.0,5386,13571,235206,43687,162154,29365,1127.0
1921,54,WI,2017,5792051,18638,192,NaN,2177.0,4370,11899,104908,17570,77868,9470,587.0
1961,55,WV,2017,1817048,6564,98,NaN,793.0,673,5000,32560,7557,21917,3086,222.0
2000,56,WY,2017,578934,1358,14,NaN,253.0,98,993,10528,1556,8211,761,48.0

In [5]:
# calculate total offense, summing each offense category
crimeDataOffense_df["total crime"] = crimeDataOffense_df["violent_crime"] + crimeDataOffense_df["homicide"] \
                                        + crimeDataOffense_df["rape_revised"] + crimeDataOffense_df["robbery"] \
                                        + crimeDataOffense_df["aggravated_assault"] + crimeDataOffense_df["property_crime"] \
                                        + crimeDataOffense_df["burglary"] + crimeDataOffense_df["larceny"] \
                                        + crimeDataOffense_df["motor_vehicle_theft"] + crimeDataOffense_df["arson"]
# preview dataframe
crimeDataOffense_df

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson,total crime
30,1,AK,2017,739786,6338,62,NaN,1074.0,952,4250,26203,4167,17782,4254,139.0,65221.0
63,2,AL,2017,4875120,25469,419,NaN,2001.0,4233,18816,143774,31270,99707,12797,703.0,339189.0
80,3,AR,2017,3002997,16996,249,NaN,2140.0,1998,12609,94419,22369,64795,7255,538.0,223368.0
139,5,AZ,2017,7048876,35647,422,NaN,3622.0,7440,24163,204999,37722,148251,19026,1189.0,482481.0
193,6,CA,2017,39399349,178597,1830,NaN,14724.0,56625,105418,987063,176679,642019,168365,8648.0,2339968.0
225,7,CO,2017,5615902,20901,222,NaN,4021.0,3868,12790,152032,22618,107470,21944,1053.0,346919.0
270,8,CT,2017,3573880,8190,105,NaN,850.0,2813,4422,63646,8906,47418,7322,341.0,144013.0
304,10,DC,2017,695691,6976,116,NaN,444.0,2625,3791,29736,1809,25340,2587,224.0,73648.0
345,11,DE,2017,957078,4377,51,NaN,351.0,1082,2893,23430,3960,18108,1362,138.0,55752.0
387,12,FL,2017,20976812,85606,1057,NaN,7936.0,18597,58016,527125,88835,395375,42915,1355.0,1226817.0
422,13,GA,2017,10413055,37118,681,NaN,2646.0,9844,23947,297651,55363,216252,26036,923.0,670461.0
475,15,HI,2017,1424203,3577,39,NaN,567.0,1077,1894,40392,5549,29574,5269,507.0,88445.0
511,16,IA,2017,3143637,9038,98,NaN,1305.0,1269,6366,65652,14711,45441,5500,424.0,149804.0
557,17,ID,2017,1718904,4111,42,NaN,755.0,222,3092,28557,5837,20570,2150,184.0,65520.0
597,18,IL,2017,12786196,55777,983,NaN,5424.0,17731,31639,255108,43355,190860,20893,1812.0,623582.0
637,19,IN,2017,6660082,26307,413,NaN,2612.0,7035,16247,158932,29799,114395,14738,768.0,371246.0
668,20,KS,2017,2910689,11654,134,NaN,1504.0,1633,8383,79387,13102,58891,7394,572.0,182654.0
717,21,KY,2017,4453874,10292,265,NaN,1817.0,2967,5243,95899,20535,65006,10358,504.0,212886.0
755,22,LA,2017,4670818,25986,576,NaN,1850.0,5385,18175,157272,34135,112042,11095,601.0,367117.0
796,23,MA,2017,6863246,24318,172,NaN,2199.0,4874,17073,97977,16916,73573,7488,384.0,244974.0
835,24,MD,2017,6024891,30321,558,NaN,1712.0,11189,16862,134705,23526,97657,13522,946.0,330998.0
878,25,ME,2017,1335063,1610,23,NaN,470.0,249,868,20142,3337,16012,793,153.0,43657.0
931,26,MI,2017,9976447,44883,569,NaN,7110.0,6508,30696,179839,35833,124410,19596,1960.0,451404.0
973,27,MN,2017,5568155,13345,114,NaN,2405.0,3627,7199,122430,18828,93602,10000,534.0,272084.0
1011,28,MO,2017,6108612,32450,599,NaN,2737.0,6362,22752,173380,30086,123356,19938,1034.0,412694.0
1037,29,MS,2017,2989663,7661,190,NaN,658.0,2492,4321,82764,22449,55968,4347,215.0,181065.0
1078,30,MT,2017,1053090,3937,41,NaN,639.0,234,3023,27294,3623,21073,2598,169.0,62631.0
1117,32,NC,2017,10270800,38043,622,NaN,1944.0,9884,25593,265483,65247,184119,16117,1245.0,608297.0
1158,33,ND,2017,755176,2133,10,NaN,406.0,183,1534,16653,2947,11944,1762,110.0,37682.0
1198,31,NE,2017,1917575,5979,42,NaN,1191.0,1020,3726,43856,6513,32064,5279,144.0,99814.0
1237,34,NH,2017,1349767,2642,13,NaN,619.0,441,1569,18550,2554,15087,909,128.0,42512.0
1276,35,NJ,2017,8888543,20604,324,NaN,1505.0,7895,10880,140086,23891,104025,12170,574.0,321954.0
1317,36,NM,2017,2093395,16300,144,NaN,1244.0,3732,11180,81865,17872,52284,11709,334.0,196664.0
1357,37,NV,2017,2972405,16663,266,NaN,1896.0,4841,9660,78320,20049,45459,12812,370.0,190336.0
1397,38,NY,2017,19590719,70746,550,NaN,6297.0,20122,43777,293390,34928,245093,13369,1101.0,729373.0
1438,39,OH,2017,11664129,34621,741,NaN,5833.0,11224,16823,280557,57521,202320,20716,1457.0,631813.0
1478,40,OK,2017,3932640,17989,243,NaN,2220.0,3007,12519,113611,28749,72546,12316,737.0,263937.0
1518,41,OR,2017,4146592,11629,105,NaN,1992.0,2474,7058,122524,17415,88091,17018,980.0,269286.0
1558,42,PA,2017,12790447,40030,742,NaN,4216.0,11777,23295,210316,31925,165434,12957,1480.0,502172.0
1598,44,RI,2017,1056486,2474,21,NaN,454.0,474,1525,18585,3219,13882,1484,130.0,42248.0
1638,45,SC,2017,5021219,25412,380,NaN,2576.0,3884,18572,160368,31165,114931,14272,674.0,372234.0
1678,46,SD,2017,873286,3753,27,NaN,575.0,264,2887,16588,2835,12285,1468,137.0,40819.0
1718,47,TN,2017,6708794,43940,538,NaN,3028.0,7867,32507,198028,38819,140636,18573,960.0,484896.0
1720,48,TX,2017,28322717,123984,1405,NaN,14536.0,32120,75923,723143,133458,521767,67918,3310.0,1697564.0
1762,49,UT,2017,3103118,7515,74,NaN,1758.0,1498,4185,86201,11780,64955,9466,225.0,187657.0
1800,51,VA,2017,8465207,17811,470,NaN,3026.0,4331,9984,152515,18524,123812,10179,824.0,341476.0
1840,52,VT,2017,624525,1082,17,NaN,254.0,100,711,9339,1945,7169,225,39.0,20881.0
1884,53,WA,2017,7425432,22483,226,NaN,3300.0,5386,13571,235206,43687,162154,29365,1127.0,516505.0
1921,54,WI,2017,5792051,18638,192,NaN,2177.0,4370,11899,104908,17570,77868,9470,587.0,247679.0
1961,55,WV,2017,1817048,6564,98,NaN,793.0,673,5000,32560,7557,21917,3086,222.0,78470.0
2000,56,WY,2017,578934,1358,14,NaN,253.0,98,993,10528,1556,8211,761,48.0,23820.0

In [7]:
# Create Crime Data frame with only the needed column
#crimeData_df = crimeDataOffense_df[["state_abbr","year","population","total offense"]]
crimeData_df = crimeDataOffense_df
crimeData_df = crimeData_df.rename(columns={"state_abbr":"state"})
crimeData_df

,state_id,state,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson,total crime
30,1,AK,2017,739786,6338,62,NaN,1074.0,952,4250,26203,4167,17782,4254,139.0,65221.0
63,2,AL,2017,4875120,25469,419,NaN,2001.0,4233,18816,143774,31270,99707,12797,703.0,339189.0
80,3,AR,2017,3002997,16996,249,NaN,2140.0,1998,12609,94419,22369,64795,7255,538.0,223368.0
139,5,AZ,2017,7048876,35647,422,NaN,3622.0,7440,24163,204999,37722,148251,19026,1189.0,482481.0
193,6,CA,2017,39399349,178597,1830,NaN,14724.0,56625,105418,987063,176679,642019,168365,8648.0,2339968.0
225,7,CO,2017,5615902,20901,222,NaN,4021.0,3868,12790,152032,22618,107470,21944,1053.0,346919.0
270,8,CT,2017,3573880,8190,105,NaN,850.0,2813,4422,63646,8906,47418,7322,341.0,144013.0
304,10,DC,2017,695691,6976,116,NaN,444.0,2625,3791,29736,1809,25340,2587,224.0,73648.0
345,11,DE,2017,957078,4377,51,NaN,351.0,1082,2893,23430,3960,18108,1362,138.0,55752.0
387,12,FL,2017,20976812,85606,1057,NaN,7936.0,18597,58016,527125,88835,395375,42915,1355.0,1226817.0
422,13,GA,2017,10413055,37118,681,NaN,2646.0,9844,23947,297651,55363,216252,26036,923.0,670461.0
475,15,HI,2017,1424203,3577,39,NaN,567.0,1077,1894,40392,5549,29574,5269,507.0,88445.0
511,16,IA,2017,3143637,9038,98,NaN,1305.0,1269,6366,65652,14711,45441,5500,424.0,149804.0
557,17,ID,2017,1718904,4111,42,NaN,755.0,222,3092,28557,5837,20570,2150,184.0,65520.0
597,18,IL,2017,12786196,55777,983,NaN,5424.0,17731,31639,255108,43355,190860,20893,1812.0,623582.0
637,19,IN,2017,6660082,26307,413,NaN,2612.0,7035,16247,158932,29799,114395,14738,768.0,371246.0
668,20,KS,2017,2910689,11654,134,NaN,1504.0,1633,8383,79387,13102,58891,7394,572.0,182654.0
717,21,KY,2017,4453874,10292,265,NaN,1817.0,2967,5243,95899,20535,65006,10358,504.0,212886.0
755,22,LA,2017,4670818,25986,576,NaN,1850.0,5385,18175,157272,34135,112042,11095,601.0,367117.0
796,23,MA,2017,6863246,24318,172,NaN,2199.0,4874,17073,97977,16916,73573,7488,384.0,244974.0
835,24,MD,2017,6024891,30321,558,NaN,1712.0,11189,16862,134705,23526,97657,13522,946.0,330998.0
878,25,ME,2017,1335063,1610,23,NaN,470.0,249,868,20142,3337,16012,793,153.0,43657.0
931,26,MI,2017,9976447,44883,569,NaN,7110.0,6508,30696,179839,35833,124410,19596,1960.0,451404.0
973,27,MN,2017,5568155,13345,114,NaN,2405.0,3627,7199,122430,18828,93602,10000,534.0,272084.0
1011,28,MO,2017,6108612,32450,599,NaN,2737.0,6362,22752,173380,30086,123356,19938,1034.0,412694.0
1037,29,MS,2017,2989663,7661,190,NaN,658.0,2492,4321,82764,22449,55968,4347,215.0,181065.0
1078,30,MT,2017,1053090,3937,41,NaN,639.0,234,3023,27294,3623,21073,2598,169.0,62631.0
1117,32,NC,2017,10270800,38043,622,NaN,1944.0,9884,25593,265483,65247,184119,16117,1245.0,608297.0
1158,33,ND,2017,755176,2133,10,NaN,406.0,183,1534,16653,2947,11944,1762,110.0,37682.0
1198,31,NE,2017,1917575,5979,42,NaN,1191.0,1020,3726,43856,6513,32064,5279,144.0,99814.0
1237,34,NH,2017,1349767,2642,13,NaN,619.0,441,1569,18550,2554,15087,909,128.0,42512.0
1276,35,NJ,2017,8888543,20604,324,NaN,1505.0,7895,10880,140086,23891,104025,12170,574.0,321954.0
1317,36,NM,2017,2093395,16300,144,NaN,1244.0,3732,11180,81865,17872,52284,11709,334.0,196664.0
1357,37,NV,2017,2972405,16663,266,NaN,1896.0,4841,9660,78320,20049,45459,12812,370.0,190336.0
1397,38,NY,2017,19590719,70746,550,NaN,6297.0,20122,43777,293390,34928,245093,13369,1101.0,729373.0
1438,39,OH,2017,11664129,34621,741,NaN,5833.0,11224,16823,280557,57521,202320,20716,1457.0,631813.0
1478,40,OK,2017,3932640,17989,243,NaN,2220.0,3007,12519,113611,28749,72546,12316,737.0,263937.0
1518,41,OR,2017,4146592,11629,105,NaN,1992.0,2474,7058,122524,17415,88091,17018,980.0,269286.0
1558,42,PA,2017,12790447,40030,742,NaN,4216.0,11777,23295,210316,31925,165434,12957,1480.0,502172.0
1598,44,RI,2017,1056486,2474,21,NaN,454.0,474,1525,18585,3219,13882,1484,130.0,42248.0
1638,45,SC,2017,5021219,25412,380,NaN,2576.0,3884,18572,160368,31165,114931,14272,674.0,372234.0
1678,46,SD,2017,873286,3753,27,NaN,575.0,264,2887,16588,2835,12285,1468,137.0,40819.0
1718,47,TN,2017,6708794,43940,538,NaN,3028.0,7867,32507,198028,38819,140636,18573,960.0,484896.0
1720,48,TX,2017,28322717,123984,1405,NaN,14536.0,32120,75923,723143,133458,521767,67918,3310.0,1697564.0
1762,49,UT,2017,3103118,7515,74,NaN,1758.0,1498,4185,86201,11780,64955,9466,225.0,187657.0
1800,51,VA,2017,8465207,17811,470,NaN,3026.0,4331,9984,152515,18524,123812,10179,824.0,341476.0
1840,52,VT,2017,624525,1082,17,NaN,254.0,100,711,9339,1945,7169,225,39.0,20881.0
1884,53,WA,2017,7425432,22483,226,NaN,3300.0,5386,13571,235206,43687,162154,29365,1127.0,516505.0
1921,54,WI,2017,5792051,18638,192,NaN,2177.0,4370,11899,104908,17570,77868,9470,587.0,247679.0
1961,55,WV,2017,1817048,6564,98,NaN,793.0,673,5000,32560,7557,21917,3086,222.0,78470.0
2000,56,WY,2017,578934,1358,14,NaN,253.0,98,993,10528,1556,8211,761,48.0,23820.0

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
crimeData_df.to_csv("Resources/CrimeData.csv", index=False, header=True)